.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-right: 25px;
  padding-left: 25px;
}

.App-link {
  color: #09d3ac;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  margin-top: 30px;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #282828;
}

th {
  background-color: #4caf50;
  color: white;
}
